.task-container {
    width: 375px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 20px;
    border-top:     solid #008505 1px;
    border-right:   solid #008505 3px; 
    border-bottom:  solid #008505 5px;
    border-left:    solid #008505 1px;
    border-radius: 10px;
    z-index: 1;
}

.task-container:hover {
    /* cursor: pointer; */
}

.task-container-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.task-due-date {
    width: 100%;
    position: relative;
    left: 110px;
    font-family: 'Iter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: flex;
   
}

.task-due-date .date {
    width: 162px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: #008505;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: -30px;
}


.task-container-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.task-title {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.task-description-container {
    margin-top: 20px;
}

.task-description {
    font-family: 'Iter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    height: 50px;
    overflow: hidden;
}

.task-container-decorator-left-container {
    width: 100%;
    position: relative;
    top: -30px;
    left: -10px;
}

.task-container-decorator-left {
    width: 45px;
    height: 45px;
    background-color: #008505;
    border-radius: 0 50px 0 10px;
}

.task-container-decorator-right {
    background-color: #008505;
    position: relative;
    width: 45px;
    height: 45px;
    top: -10px;
    right: -10px;
    border-radius: 0 10px 0 50px;
}

.test-container-blank {
    width: 100%;
}

.task-button-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-top: 30px;
}

.task-trash-button {
    width: 14px;
    height: 14px;
    background-color: white;
    border: solid red 8px;
    border-radius: 100%;
    z-index: 2;
    transition: transform 0.2s linear;
}


.task-mark-as-complete-button {
    width: 26px;
    height: 26px;
    background-color: white;
    border: solid #00FF0A 2px;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s linear;
    z-index: 2;
 
}

.task-trash-button:hover, .task-mark-as-complete-button:hover, .task-mark-as-complete-button:hover  {
    cursor: pointer;
    transform: scale(1.1);
}



.task-mark-as-complete-inner-button {
    width: 12px;
    height: 12px;
    background-color: #00FF0A ;
    border-radius: 100%;
}




